
body {background-color:antiquewhite;
 
  margin: 0 auto;
}

h1{color:black;font-size: 50px;font-family: cursive;text-align: center;padding: 30px;}
.container{
  margin:0 auto;
}

h2{color: black;font-size: 20px;font-family: fantasy;}
.slider{
  width: 70%;
  margin:0 auto;
}

.top{
  display: flex;
  justify-content: left; /* 中央寄せ */
}
.top .child{
  box-sizing: border-box;
  padding: 30px ;  
 position:left;
}

 /*ボタン*/
.btn-circle-stitch {
  font-family: cursive;
  display: inline-block;
  text-decoration: none;
  background: sienna;
  color: #FFF;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  box-shadow: 0px 0px 0px 5px sienna;
  border: dashed 3px #FFF;
  transition: .4s;
}

.btn-circle-stitch:hover {
  background: peru;
  box-shadow: 0px 0px 0px 5px peru;
}









nav {
position: relative;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 25px;
  word-spacing: -5px;
  width: 900px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: white;
  height: 800px;
}

nav ul {
  margin: 0 auto;
  padding: 0;
  display: inline-block;
}

nav li {
  background: white;
  word-spacing: 0;
  width: 160px;
  list-style: none;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-right: none;
  border-bottom: none;
  font-family: calibri light;
  letter-spacing: 3px;
  box-shadow: inset -50px 0 175px -50px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  position:left;
  text-align: left;
}

nav li:hover {
  box-shadow: inset -50px 0 175px -50px rgba(0, 0, 0, 0.1);
}

nav li:active {
  background: rgba(255,170,118, .5);
}

nav li span {
  float: right;
  font-weight: bold;
  display: none;
}

nav li:hover span {
  display: block;
}

nav > div {
  position: absolute;
  top: 0;
  right: 0;
  width: 600px;
  height: 100%;
  background: white;
  padding: 25px;
  font-family: calibri;
  word-spacing:3px;
}

nav li > div {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 700px;
  height: 800px;
  background: white;
  padding: 25px;
  font-family: calibri;
  letter-spacing: 1px;
  z-index: 10;
}

nav div h2 {
  margin: 0 auto;
  font-family: calibri light;
  font-size: 25px;
}

nav li:focus {
  outline: none;
  background: white;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: none;
}

nav li:focus > div {
  display: block;
}




.acd-check{
  display: none;
}
.acd-label{
  background: gray;
  color: #fff;
  display: block;
  margin-bottom: 1px;
  padding: 10px;
  position: relative;

}
.acd-label:after{
  background: none;
  box-sizing: border-box;
  content: '\f067';
  display: block;
  font-family: "Font Awesome 5 Free";
  height: 52px;
  padding: 10px 20px;
  position: absolute;
  right: 0;
  top: 0px;
}
.acd-content{
  border: 1px solid #333;
  display: block;
  height: 0;
  opacity: 0;
  padding: 0 10px;
  transition: .5s;
  visibility: hidden;
}
.acd-check:checked + .acd-label:after{
  content: '\f068';
}
.acd-check:checked + .acd-label + .acd-content{
  height: 150px;
  opacity: 1;
  padding: 10px;
  visibility: visible;
}