body {
    font-family: 'Arial', sans-serif;
    background: url('https://via.placeholder.com/1920x1080') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    backdrop-filter: blur(10px);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
}

input[type="text"] {
    width: 95%;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    margin-bottom: 10px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

button {
    background-color: rgba(71, 156, 255, 0.8);
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 14px;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-bottom: 20px;
}

button:hover {
    background-color: rgba(71, 156, 255, 1);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 10px 0;
    padding: 12px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}

li:hover {
    background-color: rgba(255, 255, 255, 0.9);
    transform: translateY(-2px);
}

.deleteButton {
    background-color: rgba(122, 209, 247, 0.8);
    border: none;
    color: white;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 14px;
    transition: background-color 0.3s ease;
    align-self: flex-end;
}

.deleteButton:hover {
    background-color: rgba(122, 209, 247, 0.8);
}

/* Progress Bar Styling */
.progress-container {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    width: 100%;
    height: 10px;
    margin-top: 10px;
    overflow: hidden;
}

.progress-bar {
    background-color: rgba(71, 156, 255, 0.8);
    height: 100%;
    width: 0;
    transition: width 0.3s;
}
